
/* Global Classes */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    outline: none;
}

body {
    background-color: #28242f;
    font-family: Iosevka,sans-serif;
    color: white;
}

.container {
    display: flex;
}

.horizontal {
    flex-direction: row;
}

.vertical {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.info {
    color: white;
}

.btn {
    color: white;
    display: inline;
    padding: 8px 48px;
    margin-top: 16px;
    border: solid 1px rgb(255, 255, 255);
    transition: 0.4s;
}

.btn:hover{
    color: white;
    background-color: #fff;
    
     
}

.hcenter {
    align-items: center;
}

.vcenter {
    justify-content: center;
}

.space-around {
    justify-content: space-around;
}
/*  */
li {
    align-items: flex-end;
}
 
.rect {
    display: inline;
    min-width: 64px;
    margin: 8px 0px;
    margin-right: 16px;
    height: 16px;
    background-color: white;
}




.paragraph {
    color: rgb(153, 153, 153);
}

.tabbed {
    margin-left: 80px;
}

.flex-1 {
    flex: 1;
}

.mt-64 {
    margin-top: 64px;
}

.mb-64 {
    margin-bottom: 64px;
}

.ml-64 {
    margin-left: 64px;
}

.mr-64 {
    margin-right: 64px;
}

.mt-32 {
    margin-top: 32px;
}

.mb-32 {
    margin-bottom: 32px;
}

.ml-32 {
    margin-left: 32px;
}

.mr-32 {
    margin-right: 32px;
}

li {
    list-style-type: none;
}


img {
    width: 100%;
}

.square {
    content: "";
    margin-left: -16px;
    width: 100%;
    height: 100%;
    background-color: rgb(169, 221, 71)
}






/* Header Bar */


#header {
    position: absolute;
    width: 80%;
    top: 0;
    left: 10%;
    margin: 0px auto;
    padding-top: 32px;
}

#nav {
    justify-content: space-between;
}

#nav ul li a:link,
#nav ul li a:visited{
    color: rgb(255, 255, 255);
    font-weight: 400;
    margin: 12px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.4s;
}

#nav ul li a:hover,
#nav ul li a:active{
    color: #87df49;
    border-bottom: 2px solid #87df49;
    padding-bottom: 5px; 

}






/* Home Section */

#home {
    background-image: url('img-1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    top: 0px;
    height: 100vh;
    display: flex;
    align-items: flex-start;
}

#home .section {
    margin-top: 100px;
}

#home h1 {
    font-size: 64px;
}

#home p {
    margin: 32px 0px;
}

#home .img {
    width: 100vw;
    height: 100vh;
    top: 0%;
    left: 0%;
    position: absolute;
    z-index: -4;
}







/* About Section */

#about .about {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 32px;
}

#about .about-info {
    display: grid;
    grid-gap: 32px;
    grid-template-rows: max-content auto;

}

#about .about-info h3 {
    font-weight: 300;
    font-size: 1.5rem;
}

#about .about-info h3 span {
    font-weight: 600;
    color: #87df49;
}





/* #### Section Part */

.section {
    padding: 64px 0px 32px 0px;
    margin: 0px auto;
    justify-content: flex-start !important;
    width: 80%;
}

.section header {
    color: white;
    text-transform: uppercase;
    margin-bottom: 16px;
    font-weight: 800;
    font-size: 1.5rem;
    letter-spacing: .1cm;
    align-items: flex-start;
    justify-content: start !important;
}





/* Skills Section (Progress Bar) */

.cards {
    display: grid;
    grid-gap: 32px;
    grid-template-columns: auto auto auto;
}


.card h1 {
    font-size: 1.3rem;
    margin-bottom: 16px;
    text-transform: uppercase;
}

.progress-bar {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 48px;
    border: 0px solid white;
    align-items: center;
    background-color: rgba(124, 124, 124, 0.082);
}

.progress {
    width: 42%;
    height: 100%;
}

.progress-bar p {
    margin-left: 16px;
}






/* Experience Section */

.experiences {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: auto auto;
}

.experience {
    padding: 32px 16px 32px 0px;
    border: 1px solid rgba(255, 255, 255, 0.123);
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 40px auto auto;
    margin-left: 16px;
}

.experience h1 {
    font-size: 14px;
}


.experience .where p {
    opacity: 0.7;
}




/* Signature Section */

#signature {
    margin: 100px auto;
    width: 64px;
    height: 64px;
}


/* portfolio section */

#portfolio {
    background-color: #25212b;
}

#portfolio-items .categories li {
    flex-grow: 1;
    text-align: center;
    padding-bottom: 8px;
    border-bottom: 3px solid gray;
}

#portfolio-items .categories li:hover {
    border-bottom: 3px solid rgb(255, 157, 0);

}

#portfolio-items .items {
    margin-top: 32px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 32px;
}


#portfolio .buttons {
    justify-content: flex-end;
}

#portfolio .buttons div {
    padding: 16px;
    color: peru;
    font-size: 24px;
    font-weight: 800;
}



/* Services Section */

#services {
    background-color: #221f26;
    padding-bottom: 64px;
}

#services .services-items {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 32px;
}

#services .service-item {
    display: grid;
    grid-template-columns: 160px auto;
    
    border: 1px solid #424142
}

#services .image {
    font-size: 3rem;
    background-color: #424142;
}

#services .service-item .details h1 {
    margin-bottom: 8px;
    font-size: 1rem;
    text-transform: uppercase;
    color:rgb(255, 157, 0);
    
}

#services .service-item .details {
    padding: 16px;
}







/* Work Process Section */

#services .section .work-items {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: auto auto auto auto;
}

#services .section .work-item {
   
    max-width: 500px;
    justify-content: center;
}

#services .section .work-item .image {
    width: 100px;
    height: 100px;
}

#services .section .work-item h1 {
    margin: 16px 0px;
}

#services .section .work-item p {
    text-align: center;
}




/* Blog Section */

#blog {
    background-color: #201c24;
    padding-bottom: 64px;
}



#blog .blog-items {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 2.5rem;
}

#blog .blog-items .blog-item {
    display: grid;
    grid-template-rows: 80% 20%;
    grid-template-columns: repeat(4, 25%);
    background-color: #19151d;
}

#blog .blog-items .blog-item .img {
    width: 100%;
    height: 100%;
    grid-column: 1 / 3;
}

#blog .blog-items .blog-item .texts {
    grid-column: 3 / 5;
    padding: 1.5rem;
}

#blog .blog-items .blog-item .texts h1 {
    color: #87df49;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

#blog .blog-items .blog-item .container {
    background-color: #181318;
    color: #87df49;
    font-size: 1.5rem;
}

#blog .blog-items .blog-item .x2 {
    grid-column: 3 / 5;
}

#blog .button {
    align-self: center;
    background-color: #87df49;
    color: #19151d;
    font-weight: 800;
    text-transform: uppercase;
    padding: 16px 64px;
}



/* Clients Section */

#clients {
    background-color: #1d1a21;
}

#clients .clients {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 80px;
    grid-gap: 2rem;

    padding-bottom: 100px;
}

#clients .clients .client {
    border: 1px solid #424142;
}




/* Contact Section */

#contact {
    background-color: #1b1920;
}

#contact .contact-items {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 100px;
    grid-gap: 2rem;
    margin-top: 64px;
}

#contact .contact-items .c-item {
    color: #87df49;
    border: 1px solid #424142;
    transition: 0.3s;
}

#contact .contact-items .c-item:hover {
    border: 1px solid #87df49;
}

#contact .contact-items .c-item .full {
    height: 100%;
    text-align: center;
    padding: 20px 0px;
}

#contact .contact-items .c-item .full h1 {
    margin-bottom: 8px;
}

#contact .contact-items .c-item .full p {
    color:rgb(153, 153, 153);
}


#contact .form {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr 1fr;
    padding-bottom: 100px;

}

#contact .form .form-item {
    height: 40px;
    padding: 4px;
    font-size: 1.2rem;
    color: rgb(153, 153, 153);
    background-color: #19151d00;
    outline: none;
    border: 1px solid #424142;
    transition: 0.3s;
}

#contact .form .textarea {
    grid-row-end: span 2;
    height: auto;
    
}

#contact .form .form-item:hover,
#contact .form .form-item:active {
    border: 1px solid #87df49;

}


/* Footer Section */

footer {
    background-color: #18151b;
    padding: 100px;
    
}

footer .grid-items {
    display: grid;

    grid-gap: 16px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(6, 20%);
}

footer .grid-items .container {
    padding: 16px;
    color: #87df49;
    border: 1px solid #28242f;
}

footer p {
    text-align: center;
    margin-bottom: 32px;
}



/* Media Queries */


@media (max-width: 1000px) {
    .experiences {
        grid-gap: 16px;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
    }

    #portfolio-items .items {
        grid-template-columns: auto auto;
        grid-gap: 16px;
    }

    .section {
        width: 90%;
    }

    #header {
        left: 5%;
        width: 90%;
    }

    #blog .blog-items {
        grid-template-columns: auto;
        margin-left: 32px;
        margin-right: 32px;
    }

    #services .services-items {
        grid-template-columns: auto;
        grid-gap: 16px;
    }

    #services .section .work-items {
        grid-template-columns: auto auto;
    }

}










@media (max-width: 800px) {
    #header {
        left: 2%;
        width: 96%;
        padding-top: 16px;
    }

    .tabbed {
        margin-left: 32px;
    }


    #clients .clients {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, 80px);
    }
}








@media (max-width: 700px) {
    /* Hide header bar items */
    /* show header for all items. */

    #header {
        position: sticky;
        width: 100%;
        left: 0;
        padding-top: 0%;
    }

    #nav {
        padding: 16px;
        background-color: #26222c;
        justify-content: flex-start;
    }

    #nav ul {
        display: none;
    }
    #nav h1 {
        margin-left: 32px;
        display: block !important;
    }

    #home .section {
        padding: 32px;
    }

    .section {
        width: 96%;
    }

    #about .about {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

    .cards {
        grid-template-columns: minmax(250px, auto);
    }

    .card {
        padding: 1rem;
    }


    #portfolio-items .items {
        grid-template-columns: auto;
        grid-gap: 16px;
    }

    .tabbed {
        margin-left: 16px;
    }

    #contact .contact-items {
        grid-template-columns: auto;
        grid-template-rows: 100px 100px 100px;
        margin-left: 32px;
        margin-right: 32px;
    }

    #contact .form {
        grid-template-columns: auto;
        margin: 100px 32px 0px 32px;
    }

    footer .grid-items {
        width: 96%;
    }

}

@media(max-width: 500px) {
    body {
        font-size: 80%;

    }
}